#CSS{
    Color: rgb(0, 255, 21)  ;
}
#html{
    color: aqua;
}
.Reactjs{
    color:blue;
}
h2{
    color: rgb(243, 107, 10);
}
#CSSS{
    color: darkgreen ;
}
.CSSS{
    color: dimgray !important;
}
h1{
    color: darkred;
}
#RGB{
    color: rgb(161, 32, 118);
}
#RGBA{
    color: rgba(233, 10, 70, 0.4);
}
HSL{
    color: hsl(100, 209, 200);
}
Hex{
    color: #C85987;
}